setuptools==80.9.0
wheel==0.45.1

jupyter==1.1.1
matplotlib==3.10.3
seaborn==0.13.2

bertopic==0.17.0
nltk==3.9.1
numpy==1.26.4
pandas==2.3.0
plotly==6.2.0
pyLDAvis==3.4.1
gensim==4.3.3
scikit-learn==1.7.0
scipy==1.13.1
spacy==3.8.7
tqdm==4.67.1

